.navbar{
    background-color: #636e72;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.title{
    color: #ecf0f1;
    margin-left: 10px;
}

.cartLoginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartLoginContainer a{
    margin-right: 15px;
}
.main{
}
